.Logo_logoPath__eotfD {
    stroke-dasharray: 300;
    stroke-dashoffset: 300
}

.CartDrawer_drawer__uNegI {
    right: calc(-35% - 100px);
    transition: right .8s cubic-bezier(.76, 0, .24, 1);
    z-index: 99999999
}

.CartDrawer_drawer__uNegI>.CartDrawer_content__5XN_A {
    box-sizing: border-box;
    height: 100%;
    width: 100%
}

.CartDrawer_drawer__uNegI.CartDrawer_active__PUmbl {
    right: 0
}

.CartDrawer_closeButton__7H46V {
    transform: scale(0);
    transition: all .3s cubic-bezier(.76, 0, .24, 1);
    transition-delay: .8s
}

.CartDrawer_drawer__uNegI.CartDrawer_active__PUmbl .CartDrawer_closeButton__7H46V {
    transform: scale(1)
}

.CartDrawer_drawer__uNegI:before {
    content: "";
    opacity: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
    transition: all .5s cubic-bezier(.76, 0, .24, 1);
    pointer-events: none;
    background-color: rgba(42, 41, 47, .5);
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0)
}

.CartDrawer_drawer__uNegI.CartDrawer_active__PUmbl:before {
    pointer-events: all;
    opacity: 1;
    -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px)
}

.CartDrawer_freeShippingContainer__JPXPj {
    padding: 1em 0
}

.CartDrawer_product__G5jhy {
    border-radius: 8px;
    border: 1px solid #ededed;
    display: flex
}

.CartDrawer_imageContainer__zDsjd {
    width: 25%
}

.CartDrawer_productCounter__wbCab {
    display: flex;
    border: 1px solid hsla(0, 0%, 80%, .565);
    gap: 1rem;
    padding: .6em;
    float: left;
    align-items: center
}

.CartDrawer_productCounter__wbCab button,
.CartDrawer_productCounter__wbCab span {
    color: #242424;
    float: left
}

.ButtonPrimary_button__5_uW8 {
    padding: 10px;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    border: 1px solid #292929;
    justify-content: center;
    display: flex
}

.ButtonPrimary_button__5_uW8.ButtonPrimary_light__RX4QV {
    background-color: #f9f9f9
}

.ButtonPrimary_button__5_uW8.ButtonPrimary_light__RX4QV .ButtonPrimary_text__KcBni {
    color: #292929 !important
}

.ButtonPrimary_button__5_uW8.ButtonPrimary_dark__sYHOC {
    background-color: #292929
}

.ButtonPrimary_button__5_uW8.ButtonPrimary_dark__sYHOC .ButtonPrimary_text__KcBni {
    color: #f9f9f9 !important
}

.ButtonPrimary_button__5_uW8.ButtonPrimary_lessRounded__FHG36 {
    border-radius: 15px
}

.ButtonPrimary_button__5_uW8.ButtonPrimary_lessRounded__FHG36 .ButtonPrimary_overlay__mA8ZH div {
    border-radius: 15px;
    width: 100%
}

.ButtonPrimary_button__5_uW8.ButtonPrimary_full__U8Epj {
    width: 100%
}

.ButtonPrimary_button__5_uW8.ButtonPrimary_large__oQI90 {
    padding: 10px 30px
}

.ButtonPrimary_button__5_uW8.ButtonPrimary_default__77WAq {
    border: none !important;
    background-color: #f9f9f9
}

.ButtonPrimary_button__5_uW8:hover .ButtonPrimary_text__KcBni {
    top: -40px
}

.ButtonPrimary_button__5_uW8:hover.ButtonPrimary_light__RX4QV {
    border: 1px solid #fff
}

.ButtonPrimary_button__5_uW8:hover.ButtonPrimary_dark__sYHOC {
    border: 1px solid #292929
}

.ButtonPrimary_button__5_uW8:hover.ButtonPrimary_lessRounded__FHG36 .ButtonPrimary_overlay__mA8ZH div {
    border-radius: 15px
}

.ButtonPrimary_button__5_uW8:hover .ButtonPrimary_overlay__mA8ZH {
    top: 0
}

.ButtonPrimary_button__5_uW8:hover .ButtonPrimary_overlay__mA8ZH div {
    width: 100%;
    border-radius: 100px
}

.ButtonPrimary_button__5_uW8.ButtonPrimary_active__D4K7v .ButtonPrimary_text__KcBni {
    top: -40px
}

.ButtonPrimary_button__5_uW8.ButtonPrimary_active__D4K7v.ButtonPrimary_light__RX4QV {
    border: 1px solid #fff
}

.ButtonPrimary_button__5_uW8.ButtonPrimary_active__D4K7v.ButtonPrimary_dark__sYHOC {
    border: 1px solid #292929
}

.ButtonPrimary_button__5_uW8.ButtonPrimary_active__D4K7v.ButtonPrimary_lessRounded__FHG36 .ButtonPrimary_overlay__mA8ZH div {
    border-radius: 15px
}

.ButtonPrimary_button__5_uW8.ButtonPrimary_active__D4K7v .ButtonPrimary_overlay__mA8ZH {
    top: 0
}

.ButtonPrimary_button__5_uW8.ButtonPrimary_active__D4K7v .ButtonPrimary_overlay__mA8ZH div {
    width: 100%;
    border-radius: 100px
}

.ButtonPrimary_text__KcBni {
    top: 0;
    color: #292929;
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    transition: top .4s cubic-bezier(.33, 1, .68, 1) !important
}

.ButtonPrimary_overlay__mA8ZH {
    top: 110%;
    left: 0;
    height: 100%;
    align-items: center;
    transition: top .4s cubic-bezier(.33, 1, .68, 1)
}

.ButtonPrimary_overlay__mA8ZH,
.ButtonPrimary_overlay__mA8ZH p {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center
}

.ButtonPrimary_overlay__mA8ZH p {
    color: #fff;
    text-align: center
}

.ButtonPrimary_overlay__mA8ZH div {
    background-color: #000;
    width: 60%;
    height: 100%;
    border-radius: 50%;
    transition: all .4s cubic-bezier(.33, 1, .68, 1)
}

.Title_title__Cukmf {
    font-size: clamp(2.25rem, 1.8424rem + .6522vw, 2.625rem)
}

.Loader_loader__4B3GJ {
    height: calc(100vh + 200px);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999999
}

.Loader_loader__4B3GJ svg {
    height: 100%;
    width: 100%
}

.Loader_logo___qqbC svg path {
    stroke: #fff;
    stroke-width: 1px
}

.Loader_logo___qqbC {
    position: absolute;
    width: 300px;
    left: 50%;
    top: calc(50% - 100px);
    transform: translate(-50%, -50%);
    flex-direction: column;
    gap: 1em;
    animation: Loader_opacity__McbFo .5s ease-in-out 3s forwards
}

.Loader_logo___qqbC,
.Loader_progress__Qhjov {
    display: flex;
    justify-content: center;
    align-items: center
}

.Loader_progress__Qhjov {
    position: relative;
    width: 0;
    border: 1px solid #adadad;
    animation: Loader_progressLoad__Bf5KM 1s cubic-bezier(.76, 0, .24, 1) forwards
}

.Loader_progress__Qhjov:before {
    content: "";
    position: absolute;
    width: 0;
    border: 3px solid #fff;
    animation-delay: 1s;
    animation: Loader_progressLoad__Bf5KM 3s cubic-bezier(.76, 0, .24, 1) forwards
}

@keyframes Loader_progressLoad__Bf5KM {
    to {
        width: 30vw
    }
}

@keyframes Loader_opacity__McbFo {
    to {
        opacity: 0
    }
}

@keyframes Loader_hideLogo__V22nG {
    to {
        bottom: -20%
    }
}

.Carousel_slider__Br1gv {
    position: absolute;
    display: flex;
    gap: 1.25rem
}

.Carousel_slider__Br1gv>div {
    width: calc(22.5vw - .9499em)
}

.Carousel_slider__Br1gv .Carousel_slide__tRR_G:not(:first-child) {
    margin-left: 6vw
}

.Carousel_slider__Br1gv .Carousel_slide__tRR_G .Carousel_preview__kVkWc {
    height: 350px;
    width: 350px;
    background: #c4c4c4;
    overflow: hidden
}

.Carousel_slider__Br1gv .Carousel_slide__tRR_G .Carousel_preview__kVkWc img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center
}

.Carousel_arrow__AlxYX {
    top: calc(50% - 1.5em);
    z-index: 9999;
    border: 1px solid #e1e1e1;
    padding: .75em;
    border-radius: 8px;
    background: rgba(0, 0, 0, .039);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    overflow: hidden;
    box-shadow: 1px 1px 5px hsla(0, 0%, 60%, .059);
    opacity: .35;
    transform: scale(.8);
    transition-property: left, right, opacity, border-color, border-radius, transform;
    transition-timing-function: cubic-bezier(.2, .32, 0, .87);
    transition-duration: .3s
}

.Carousel_arrow__AlxYX.Carousel_left__31Lfi {
    left: 0
}

.Carousel_arrow__AlxYX.Carousel_left__31Lfi .Carousel_svgPrime__F3O5l {
    transform: translateX(0);
    transition: all .3s cubic-bezier(.2, .32, 0, .87) 0s
}

.Carousel_arrow__AlxYX.Carousel_left__31Lfi .Carousel_animatedButton__8NpQa {
    transform: translate(150%, -50%)
}

.Carousel_arrow__AlxYX.Carousel_right__PjaS1 {
    right: 0
}

.Carousel_arrow__AlxYX.Carousel_right__PjaS1 .Carousel_svgPrime__F3O5l {
    transform: translateX(0);
    transition: all .3s cubic-bezier(.2, .32, 0, .87) 0s
}

.Carousel_arrow__AlxYX.Carousel_right__PjaS1 .Carousel_animatedButton__8NpQa {
    transform: translate(-150%, -50%)
}

.Carousel_container___p17_:hover .Carousel_arrow__AlxYX {
    opacity: 1;
    transform: scale(1)
}

.Carousel_container___p17_:hover .Carousel_arrow__AlxYX.Carousel_left__31Lfi {
    left: -3.5em
}

.Carousel_container___p17_:hover .Carousel_arrow__AlxYX.Carousel_left__31Lfi:active {
    transform: scale(.95);
    transition-duration: .1s
}

.Carousel_container___p17_:hover .Carousel_arrow__AlxYX.Carousel_left__31Lfi:hover .Carousel_svgPrime__F3O5l {
    transform: translateX(-150%)
}

.Carousel_container___p17_:hover .Carousel_arrow__AlxYX.Carousel_left__31Lfi:hover .Carousel_animatedButton__8NpQa {
    transform: translate(-17%, -50%)
}

.Carousel_container___p17_:hover .Carousel_arrow__AlxYX.Carousel_right__PjaS1 {
    right: -3.5em
}

.Carousel_container___p17_:hover .Carousel_arrow__AlxYX.Carousel_right__PjaS1:active {
    transform: scale(.8);
    transition-duration: .1s
}

.Carousel_container___p17_:hover .Carousel_arrow__AlxYX.Carousel_right__PjaS1:hover .Carousel_svgPrime__F3O5l {
    transform: translateX(150%)
}

.Carousel_container___p17_:hover .Carousel_arrow__AlxYX.Carousel_right__PjaS1:hover .Carousel_animatedButton__8NpQa {
    transform: translate(-17%, -50%)
}

.Carousel_container___p17_:hover .Carousel_arrow__AlxYX:hover {
    border-color: #000;
    border-radius: 50%
}

.Carousel_animatedButton__8NpQa {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s cubic-bezier(.2, .32, 0, .87) 0s
}

.ProductDetail_infoContainer__XyQ9C {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.ProductDetail_detailsContainer__Uvhfp {
    width: 20%
}

.ProductDetail_title__nbiGX {
    font-size: clamp(1.5625rem, .5477rem + 1.6269vw, 2.5rem);
    font-weight: 700;
    letter-spacing: -2px;
    line-height: clamp(1.5625rem, .5477rem + 1.6269vw, 2.5rem)
}

.ProductDetail_price__Wp_wK {
    font-size: 2em;
    font-weight: 300
}

.ProductDetail_imageContainer__KCGLr {
    transform: translateY(200px);
    opacity: 0;
    max-height: 60vw;
    min-height: 50vw
}

.ProductDetail_colorSelector__6rxzp {
    border-radius: 8px;
    border: 1px solid #fff;
    padding: .5em;
    width: 20%;
    height: 100%
}

.ProductDetail_colorSelector__6rxzp>div {
    width: 100%;
    height: 100%;
    border-radius: 5px
}

.ProductDetail_colorSelector__6rxzp.ProductDetail_active__LGhlR,
.ProductDetail_colorSelector__6rxzp:hover {
    border-color: #000
}

.ProductDetail_sizeSelector__dYhc_ {
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #000
}

.ProductDetail_paymentText___sWQd {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}

.ProductDetail_paymentText___sWQd:before {
    content: "";
    width: 100%;
    position: absolute;
    height: 1px;
    background: linear-gradient(90deg, transparent, #d2d2d2 30%, #d2d2d2 70%, transparent);
    left: 0;
    top: 50%
}

.CarouselImages_carouselImages__Kr0aV {
    display: flex;
    height: 20%;
    gap: 1em
}

.CarouselImages_carouselImages__Kr0aV>div {
    width: 25%;
    position: relative;
    cursor: pointer;
    filter: grayscale(1);
    transition: filter .2s cubic-bezier(.2, .32, 0, .87)
}

.CarouselImages_carouselImages__Kr0aV>.CarouselImages_active__xV_Af {
    filter: grayscale(0)
}

.CarouselImages_selectedImageContainer__EG_TJ {
    transition: translate .3s cubic-bezier(.2, .32, 0, .87)
}

.CarouselImages_imageSelected__27XuX {
    position: relative;
    width: 100%;
    min-width: 85%;
    overflow: hidden;
    transition: opacity .2s cubic-bezier(.2, .32, 0, .87)
}

.CarouselImages_imageSelected__27XuX:first-of-type {
    opacity: 1
}

.CarouselImages_image__Fm5PZ {
    width: 100%;
    height: 80%;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px
}

.CarouselImages_svgPrime__G6Kg9 {
    transform: translateX(0);
    transition: all .3s cubic-bezier(.2, .32, 0, .87) 0s
}

.CarouselImages_arrow__idJLq {
    padding: .75em;
    width: calc(15% - .75rem);
    transition-property: left, right;
    transition-timing-function: cubic-bezier(.2, .32, 0, .87);
    transition-duration: .3s;
    overflow: hidden;
    z-index: 99998
}

.CarouselImages_arrow__idJLq:hover .CarouselImages_svgPrime__G6Kg9 {
    opacity: 0;
    transform: translateX(100%)
}

.CarouselImages_arrow__idJLq:hover .CarouselImages_animatedButton__3uypX {
    opacity: 1;
    transform: translateX(0)
}

.CarouselImages_animatedButton__3uypX {
    width: 100%;
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    opacity: 0;
    transform: translateX(-100%);
    align-items: center;
    transition: all .3s cubic-bezier(.2, .32, 0, .87) 0s
}

.CarouselImages_loupe__DW37A {
    position: absolute;
    z-index: 999999;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-repeat: no-repeat;
    border: 3px solid #fff;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2);
    background-color: #fff;
    opacity: 0
}

.CarouselImages_loupe__DW37A:hover {
    transition: width .3s cubic-bezier(.2, .32, 0, .87), height .3s cubic-bezier(.2, .32, 0, .87), opacity .2s ease;
    opacity: 1;
    width: 20vw;
    height: 20vw;
    cursor: none
}

.Accordion_plusminus__GYKo7 {
    position: relative;
    width: 1.2rem;
    height: 1.2rem
}

.Accordion_plusminus__GYKo7.Accordion_active__6BziF:before {
    transform: translatey(-50%) rotate(-90deg);
    opacity: 0
}

.Accordion_plusminus__GYKo7.Accordion_active__6BziF:after {
    transform: translatey(-50%) rotate(0)
}

.Accordion_plusminus__GYKo7:after,
.Accordion_plusminus__GYKo7:before {
    content: "";
    display: block;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 0;
    transition: .35s cubic-bezier(.2, .32, 0, .87);
    width: 100%;
    height: 3px
}

.Accordion_plusminus__GYKo7:before {
    transform: translatey(-50%)
}

.Accordion_plusminus__GYKo7:after {
    transform: translatey(-50%) rotate(90deg)
}

.Accordion_content__2hwaR {
    height: 0;
    overflow: hidden
}

.Accordion_accordion__C0S7o {
    box-shadow: 1px 1px 5px hsla(0, 0%, 60%, .059)
}