# ─── Firebase Client SDK ─────────────────────────────────
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAtPgi9kUcnFPub9nn2yDY4fL8ngWjCpHg
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=luno-629e0.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=luno-629e0
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=luno-629e0.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=57901505627
NEXT_PUBLIC_FIREBASE_APP_ID=1:57901505627:web:679c4a351777d95d73f37e
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-Y9G4D0TC9L

# ─── Firebase Admin SDK (Server Only) ────────────────────
FIREBASE_ADMIN_PROJECT_ID=luno-629e0
FIREBASE_ADMIN_CLIENT_EMAIL=firebase-adminsdk@luno-629e0.iam.gserviceaccount.com
FIREBASE_ADMIN_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# ─── Cloudinary ────────────────────────────────────────────
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=hvotfqtr
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=luno_products
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# ─── Site URL (for SEO) ───────────────────────────────────
NEXT_PUBLIC_SITE_URL=https://lunostore.vercel.app
